<div class="card product-card" style="width: 18rem;">
    <img [src]="product.imageUrl" class="card-img-top product-img" alt="...">
    <div class="card-body">
        <a [routerLink]="['product', product.id]">
            <h5 class="card-title">{{product.name}}</h5>
        </a>
        <p class="card-text">{{product.description}}</p>
        <product-rating [rating]="product.rating"></product-rating>
        <button class="btn" [ngClass]="product.isAddedInCart ? 'btn-danger':'btn-success'"
            (click)="handleCartEvent()">{{cartBtnText}}</button>
    </div>
</div>