
.cart-item {
  margin: 0 40px;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 60%;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.item-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.item-details {
  flex-grow: 1;
  padding-left: 40px;
}

.item-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.item-price {
  margin: 5px 0;
  color: #888;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ddd;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
}

.quantity-button:focus {
  outline: none;
}

.quantity-input {
  width: 40px;
  height: 30px;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 10px;
  border-radius: 3px;
}
