<header [cartItemsCount]="cartItemsCount"></header>
<div class="container">
    <menu-bar></menu-bar>
    <header-carousel></header-carousel>
    <h3>Products</h3>

    <div class="row">
        @for(product of products; track product.id){
        <div class="col-12 col-md-3">
            <product-card [item]="product" (onRemoveFromCart)="handleRemoveFromCartEvent($event)"
                (onAddToCart)="handleAddToCartEvent($event)"></product-card>
        </div>
        }
    </div>

</div>
<app-footer></app-footer>